.about {
  margin-top: 85px;
  background-color: rgb(238, 238, 238);
  padding-top: 1px;
  padding-bottom: 70px;
  font-size: var(--body-font-size);
  text-align: center;

  &__title {
    margin-top: 70px;
    font-size: var(--font-xl);
  }

  p {
    margin: auto 5rem;
    font-size: var(--font-md);
  }
}
