.contact {
    margin-top: 85px;
    padding-top: 1px;
    padding-bottom: 35px;
    background-color: rgb(238, 238, 238);
    text-align: center;
    font-size: var(--font-md);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    &__title {
        font-size: var(--font-xl);
        margin-bottom: 0;
    }

    &__icon {
        width: 45px;
        border-radius: 15px;
        box-shadow: 0 6px 3px -2px rgba(0, 0, 0, 0.301);
        transition: ease 0.3s;
        margin-top: 0.6rem;
        margin-bottom: 3rem;

        &:hover {
            cursor: pointer;
            transform: scale(1.08, 1.08);
            box-shadow: 0 6px 3px -2px rgba(61, 100, 185, 0.301);
        }
    }

    &__name {
        font-size: var(--font-lg);
        font-weight: 100;
    }

    &__email {
        font-size: var(--font-sm);
    }

    p {
        margin: 0.9rem;
    }
}
